 
<div class="d-flex align-items-center justify-content-center">
    
    <h1 class="text-info">Welcome to my first Ruby Project</h1>
</div>
 <hr/> 
<% if @user %>
    <div class="row">
        <div class="col-md-12">
            <div class="alert alert-success alert-dismissable text-center">
                Welcome <b><%= @user.name %></b>! ,You logged in as <i><%= @user.email %></i>
            </div>
        </div>
    </div>
    
 <% end %>
<div class="row">
    <div class="col-md-4">
        <%= render partial:"shared/profile" %>
    </div> 
    <div class="col-md-4">
        <div class="card card-info">
            <div class="card-header">
                History
            </div>
            <div class="card-body"> 
                <table class="table table-bordered table-hover table-responsive">
                    <tr><td> Test 1</td></tr>
                    <tr><td> Test 2</td></tr>
                    <tr><td> Test 3</td></tr>
                </table> 
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">
                Featured
            </div>
            <div class="card-body">
                <h5 class="card-title">Special title treatment</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="test" class="btn btn-primary pull-right">Test</a>
            </div>
        </div>
    </div>
</div>