    <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h1>Forgot Password?</h1>
                <hr/>
                <%= form_with url: password_reset_path do |form| %>                    
                   <div class="mb-3">
                        <%= form.label :Email %>
                        <%= form.text_field :email, class:"form-control", placeholder: "Please Enter your valid email" %>
                    </div>
                    
                    <div class="mb-3"> 
                        <center><%= form.submit "Reset", class:"btn btn-primary" %></center>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
</div>