<div class="d-flex justify-content-between align-items-center">
    <h1>Edit Scheduled Tweet</h1>   
</div>
<hr/>
<div class="row">
    <div class="col-md-6">        
       <%= render "form", tweet: @tweet %>
    </div>
</div>